<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      Configure Selenium grid settings http://www.seleniumhq.org/projects/grid/
    -->
    <!--
      Choose on of the following drivers:
      InternetExplorer
      Chrome
      Firefox
    -->
    <add key="DriverToUse" value="Chrome" />
    <add key="TargetUrl" value="http://automationpractice.com/" />
    <add key="UserEmail" value="mr.goodman@mozart.symphony" />
    <add key="TemporaryEmail" value="asdf@asdf.1" />
    <add key="UserPassword" value="SecurePassword123" />
    <add key="UserFirstName" value="Ernest" />
    <add key="UserLastName" value="Goodman" />
    <add key="UserAddress" value="Sunny St. 24/7" />
    <add key="UserCity" value="Springfield" />
    <add key="UserState" value="Florida" />
    <add key="UserZipCode" value="00000" />
    <add key="UserMobilePhone" value="1234" />
    <add key="ImplicitlyWait" value="5" />
    <add key="PageLoadTimeout" value="60" />
  </appSettings>
</configuration>